* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

*::selection {
    background-color: transparent;
}

body {
    overflow-x: hidden;
    background-color: #000000;
}

a {
    text-decoration-line: none;
    color: #d3b42a;
}

/* **********NAVBAR********** */

nav {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    min-height: 15vh;
    background-color: #00000099;
    font-family: 'Montserrat', sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    }

    #nav_bottom {
        display: flex;
        justify-content: center;
    }

    #nav_bottom_border {
        margin-top: 15vh;
        width: 85%;
        border-bottom: 2px solid antiquewhite;
    }

    .nav-links {
        display: flex;
        justify-content: space-around;
        /* align-items: center; */
        width: 85%;
       padding-bottom: 2vh;
    }

    .nav-links li {
        list-style: none;
    }

    .nav-links a:hover {
        color: rgb(158, 77, 24);
    }

    .nav-links a {
        
        letter-spacing: 3px;
        font-weight: bold;      
    }

    .burger {
        display: none;
        cursor: pointer;
    }

    .burger div{
        width: 30px;
        height: 2px;
        background-color:  #d3b42a;
        margin: 5px;
        transition: all 0.3s ease;
    }
    
    @media screen and (max-width: 1250px) {
        .nav-links {
            width: 95%;
        }

        #nav_bottom_border {
            width: 95%;      
        }
    }
    
    @media screen and (max-width: 1024px) {
        body {
            overflow-x: hidden;
        }

        nav{
            justify-content: flex-end;
            align-items: center;
            padding-right: 5vh;
        }
    
        .nav-links {
            position: fixed;
            right: 0px;
            height: 100vh;
            top: 15vh;
            background-color: #2b2a2a;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            transform: translateX(100%);
            /* transition: transform 0.5s ease-in; */  
        }
    
        .nav-in {
            transition: transform 0.5s ease-in;
        }
       
        .nav-links li {
            opacity: 0;
        }
    
        .burger {
            display: block;
        }
    }
    
    .nav-active {
        transform: translateX(0%);
    }
    
    @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateX(50px);
        }
        
        to {
            opacity: 1;
            transform: translateX(0px);
        }
    }
    
    .toggle .line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
    }
    
    .toggle .line2 {
        opacity: 0;
    }
    
    .toggle .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
        
    }

/* ************MERCHANDISE********** */

    #merchandise {
        min-height: 100vh;
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap;
    }

    .section_divider_border {
        border-bottom: 2px solid antiquewhite;
        width: 85%;
        padding-top: 15vh;

    }

    #nav_buttons {
        display: flex;
        justify-content: center;
    }



    /* **********ITEM DETAILS********** */

#itemdetails {
	display: flex;
}

.itemimages {
    padding-right: 8vw;
    margin-left: 50vw;
}

.itemimages li img {
	width: 40vw;
	height: auto;
	padding-bottom: 5vh;
}

.itemdescription {
	padding-left: 11vw;
	width: 43vw;
	position: fixed;
	/* margin-right: 50vw; */
	color: #e2c41d;
	list-style: none;
	font-family: 'Montserrat', sans-serif;
	
}

.itemdescription ul {
	list-style: none;
}

.title {
	color: antiquewhite;
	font-family: 'Montserrat', sans-serif;
	font-size: 50px;
	padding-bottom: 8vh;
	text-align: center;
	
}

#availability {
	padding-bottom: 3vh;
}

.itemprice {
	font-family: 'Montserrat', sans-serif;
	font-size: 25px;
	/* padding-left: 1vw; */
	padding-bottom: 4vh;
}

.light_text {
    color: antiquewhite;
}

.sizes {
	display: flex;
	list-style: none;
	
}

.sizes input {
	display: none;
}

.sizes li label {
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 200px;
	text-align: center;
	border: 1px solid antiquewhite;
	line-height: 50px;
	cursor: pointer
  }
  
.sizes li {
	padding-left: 10px;
}



#quantity {
	margin-top: 1vh;
}

#extrasmall:checked ~ label[for="extrasmall"],
#small:checked ~ label[for="small"],
#medium:checked ~ label[for="medium"],
#large:checked ~ label[for="large"],
#extralarge:checked ~ label[for="extralarge"],
#xxl:checked ~ label[for="xxl"], 
#xxxl:checked ~ label[for="xxxl"], 
#xxxxl:checked ~ label[for="xxxxl"], 
#xxxxxl:checked ~ label[for="xxxxxxl"] {
  background: #999;
  color: #fff;
}

.description {
	font-family: 'Montserrat', sans-serif;
	/* padding-left: 1vw; */
	font-size: 20px;
}

.addtocart {
    width: 150px;
    height: 70px;
    background-color: #e2c41d;
    margin-right: 1px;
    margin-top: 5vh;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    border: 2px solid antiquewhite;
	
}

.addtocart a {
	text-decoration: none;
	color: #383737;
}

