* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

*::selection {
    background-color: transparent;
}

body {
    overflow-x: hidden;
    background-color: #000000;
}

a {
    text-decoration-line: none;
    color: #d3b42a;
}

/* **********NAVBAR********** */

nav {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    min-height: 15vh;
    background-color: #00000099;
    font-family: 'Montserrat', sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    }

    #nav_bottom {
        display: flex;
        justify-content: center;
    }

    #nav_bottom_border {
        margin-top: 15vh;
        width: 85%;
        border-bottom: 2px solid antiquewhite;
    }

    .nav-links {
        display: flex;
        justify-content: space-around;
        /* align-items: center; */
        width: 85%;
       padding-bottom: 2vh;
    }

    .nav-links li {
        list-style: none;
    }

    .nav-links a:hover {
        color: rgb(158, 77, 24);
    }

    .nav-links a {
        
        letter-spacing: 3px;
        font-weight: bold;      
    }

    .burger {
        display: none;
        cursor: pointer;
    }

    .burger div{
        width: 30px;
        height: 2px;
        background-color:  #d3b42a;
        margin: 5px;
        transition: all 0.3s ease;
    }
    
    @media screen and (max-width: 1250px) {
        .nav-links {
            width: 95%;
        }

        #nav_bottom_border {
            width: 95%;      
        }
    }
    
    @media screen and (max-width: 1024px) {
        body {
            overflow-x: hidden;
        }

        nav{
            justify-content: flex-end;
            align-items: center;
            padding-right: 5vh;
        }
    
        .nav-links {
            position: fixed;
            right: 0px;
            height: 100vh;
            top: 15vh;
            background-color: #2b2a2a;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            transform: translateX(100%);
            /* transition: transform 0.5s ease-in; */  
        }
    
        .nav-in {
            transition: transform 0.5s ease-in;
        }
       
        .nav-links li {
            opacity: 0;
        }
    
        .burger {
            display: block;
        }
    }
    
    .nav-active {
        transform: translateX(0%);
    }
    
    @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateX(50px);
        }
        
        to {
            opacity: 1;
            transform: translateX(0px);
        }
    }
    
    .toggle .line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
    }
    
    .toggle .line2 {
        opacity: 0;
    }
    
    .toggle .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
        
    }

    /* **********HOME********** */

    #home {
min-height: 100vh;

    }
    /* **********ADDRESS********** */

    #address {
        height: 10vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 36px;
        letter-spacing: 2px;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    /* **********LOGO*********** */

    #logo_section {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 75vh;

    }

    #logo {
padding-top: 6vh;
    }

    /* **********ABOUT********** */

    #about {
        min-height: 100vh;
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap;
    }

    /* .section_divider {
        display: flex;
        justify-content: center;
    } */

    .section_divider_border {
        border-bottom: 2px solid antiquewhite;
        width: 85%;
        padding-top: 15vh;

    }

    #about_body {
        min-height: 100vh;
        width: 75vw;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
        padding-top: 15vh;
    }

    .about_images {
        width: 30vw;
        height: auto;
    }

    #about_text {
        position: absolute;
        width: 32vw;
        height: auto;
    }

    #about_2 {
        width: 50vw;
        height: auto;
        padding-top: 5vh;
    }

    /* **********SERVICES********** */

    #services {
        min-height: 100vh;
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap;
    }

    #services_body {
        min-height: 100vh;
        width: 75vw;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-wrap: wrap;
        padding-top: 10vh;
        position: relative;
    }

    #services_list {
        position: absolute;
        top: 15vh;
        left: 8vw;
        width: 37vw;
        height: auto;
    }

    #barber {
        height: 100vh;
        width: auto;
    }

    #scissors {
        width: 25vw;
        height: auto;
        position: absolute;
        left: 13vw;
        bottom: 4vh;
    }

    /* **********MERCHANDISE********** */

    #merchandise {
        min-height: 100vh;
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap;
    }

    #merch_list {
        padding-top: 5vh;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 85vw;
    }

    #merch_list li {
        padding: 2vh 2vw 2vh 0vw;
    }

    .merch_images {
        width: 27vw;
        height: auto;
    }

    /* **********PRODUCTS********** */

    #products {
        min-height: 100vh;
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap;
    }

    #product_list {
        padding-top: 5vh;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 85vw;
    }

    #product_list li {
        padding: 2vh 2vw 2vh 0vw;
    }

    .product_images {
        width: 27vw;
        height: auto;
    }

    .example {
        position: relative;
        padding: 0;
        width: 100%;
        display: block;
        overflow: hidden;
      }

      .content {
        opacity: 0;
        font-size: 40px;
        position: absolute;
        top: 0;
        left: 0;
        color: antiquewhite;
        background-color: #4c4b4b99;
        height: 99.5%;
        width: 100%;
        -webkit-transition: all 400ms ease-out;
        -moz-transition: all 400ms ease-out;
        -o-transition: all 400ms ease-out;
        -ms-transition: all 400ms ease-out;
        transition: all 400ms ease-out;
        text-align: center;
      }

      .example .content:hover {
        opacity: 1;
      }

      .example .content .text {
        height: 0;
        opacity: 1;
        transition-delay: 0s;
        transition-duration: 0.4s;
      }

      .example .content .price {
        height: 0;
        opacity: 1;
        transition-delay: 0s;
        transition-duration: 0.4s;
      }

      .example .content:hover .text {
        opacity: 1;
        transform: translateY(26vh);
        -webkit-transform: translateY(26vh);
      }

      .example .content:hover .price {
        opacity: 1;
        transform: translateY(37vh);
        -webkit-transform: translateY(37vh);
      }

      .text {
        font-size: 37px;
        margin-left: 4vw;
        margin-right: 4vw;
    }

      .price {
        font-size: 37px;
        margin-left: 8vw;
        margin-right: 8vw;
    }
    

    /* **********PRESS********** */

    #press {
        min-height: 100vh;
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap;
    }

    #press_body {
        min-height: 100vh;
        width: 75vw;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        padding-top: 10vh;
        position: relative;
    }

    #press_link {
        position: absolute;
        top: 15vh;
        left: 38vw;
        width: 37vw;
        height: 50vh;
        background-color: #d3b42a;
    }

    #press_text {
        top: 0;
        left: 0;
        color: #000000 !important;
        font-size: 30px;
    }

    #press_photo {
        height: 100vh;
        width: auto;
    }

    #blade {
        width: 17vw;
        height: auto;
        position: absolute;
        right: 7vw;
        bottom: 0vh;
    }

    /* **********CONTACT********** */

    #contact {
        min-height: 100vh;
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap;
    }

    #map {
        width: 50vw;
        height: auto;
    }
    

   
    
    
      